
*{
    box-sizing: border-box;
}

body {
    /* background-color: skyblue; */
    background-size: 150%; 
}
header .navbar{
    background-color: rgba(247, 214, 246, 0.601) !important; 
}
 header nav div {
    justify-content: center;
    justify-content: space-around;

}
header  nav div a:hover{
    background-color: rgba(197, 70, 70, 0.8);
    padding: 1rem;
}
header  nav div ul li a:hover{
    background-color: rgba(70, 78, 197, 0.8) !important;
    padding: 1rem;
}
main{
    width: 100%;
    min-height: 100vh;
    background-image: url('/img/Librairie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    overflow: scroll;

 }
 .table {
    margin:auto;
    width: 80%;

    border-radius: 2rem;
    border: 1px solid rgba(238, 118, 204, 0.861);
    /* background-color: rgba(188, 226, 226, 0.618); */
    /* box-shadow: 40px -10px rgba(0, 128, 128, 0.639); */
    border-radius: 2rem; 
    

}
th{
    background-color: rgba(242, 187, 58, 0.652) !important;   
}
td {
    background-color: rgb(215, 241, 210) !important;
    color:rgba(1, 17, 12, 0.962) !important;
}


link{
    font-size: 1.5rem;
}

h1{
    background-color: rgba(127, 255, 212, 0.564);
}
form div label {
    margin-right: 2rem;
    min-width: 130px;
    background-color:  rgba(173, 241, 38, 0.458);
    text-align: center;
    border-radius: 2rem;
    margin-right: 2rem;

}
form div label select{
    width: 50%;
}
.forme  .connect{
   width:50%;
   margin:auto;
   border: 1px solid rgba(143, 143, 154, 0.861);
   background-color: rgba(166, 164, 161, 0.618);
   backdrop-filter: blur(0.2rem);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
   padding: 3rem;
   flex-direction: column;
   border-radius: 1rem;
   box-shadow: 30px -10px rgba(0, 128, 128, 0.639);
}
#commander div {
    margin-bottom: 2rem;
    width: 100%;
}
#commander div input, select {
    width: 50%;
}
#commander div label  {
    margin-right: 1rem;
    min-width: 150px;
    background-color: rgba(173, 241, 38, 0.458);
    text-align: center;
    border-radius: 1rem;

}
#fournisseurs div {
    margin-bottom: 2rem;
    width: 100%;
}
#fournisseurs div input, select {
    width: 50%;
}
#fournisseurs div label {
    margin-right: 1rem;
    min-width: 150px;
    background-color: rgba(173, 241, 38, 0.458);
    text-align: center;
    border-radius: 1rem;
}
#livres div {
    margin-bottom: 2rem;
    width: 100%;
   
}
#livres div input, select {
    width: 50%;
    border-radius: 1rem;
}
#livres div label {
    margin-right: 1rem;
    min-width: 150px;
    background-color: rgba(173, 241, 38, 0.458);
    text-align: center;
    border-radius: 1rem;
}
input {
    border-radius: 1rem;
 }
 /* .connect{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
  
}  */

 .connect label  {
    margin-right: 1rem;
    min-width: 150px;
    background-color: rgba(173, 241, 38, 0.458);
    text-align: center;
    border-radius: 1rem;
    color:black;

}


footer {
    width: 100%;
    text-align: center; 
    margin-top: auto;
    padding: 2rem;
    color: white;
    background-color: rgba(231, 186, 186, 0.712);
   
}
