{% extends 'base.html.twig' %}

{% block title %}
 Ajouter une commande 
{% endblock %}

{% block body %}
<h1  class=" text-aligne text-center"> Ajouter une commande </h1>

    {{ form_start(form) }}
<div class ="forme ">
{# <div class =" mx-auto container  ml-5"> #}
    {{ form_widget(form) }}

     <button class="btn btn-primary  mt-4">{{ ' Ajouter' }}</button>
   </div>
    {{ form_end(form) }}

{% endblock %}