

    {% extends 'base.html.twig' %}  

{% block title %}
  livre par titre
{% endblock %}

{% block body %}
<h1  class=" text-aligne text-center"> livre par titre</h1>

    {{ form_start(form) }}
<div class ="forme ">
    {{ form_widget(form) }} 

       <button type="submit"  name="save_button" class="btn btn-primary  mt-4">{{ 'Afficher' }}</button>  
   </div>
    {{ form_end(form) }}
 
{% endblock %} 
