{% extends 'base.html.twig' %}

{% block title %}
 Edit un fournisseur
{% endblock %}

{% block body %}
<h1  class=" text-aligne text-center"> Edit un  fournisseur </h1>

    {{ form_start(form) }}
<div class ="forme ">
    {{ form_widget(form) }}

     <button class="btn btn-primary  mt-4">{{ ' Mettre a jours' }}</button>
   </div>
    {{ form_end(form) }}

{% endblock %}