 {% extends 'base.html.twig' %}   
    {% block title %}
        fournisseur par raison sociale
    {% endblock %}
  {% block  body %} 
        
    {{ form_start(form) }}
    <h1  class=" text-aligne text-center">fournisseur par raison sociale </h1>
<div class ="forme ">
    {{ form_widget(form) }} 

       <button type="submit"  name="save_button" class="btn btn-primary  mt-4">{{ 'Afficher' }}</button>  
   </div>
    {{ form_end(form) }}
   {% endblock %} 
